# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Frontend build artifacts
frontend/node_modules/
frontend/dist/

# Runtime data
app/media/
app/static/
