services:
  # -------------------------------
  # Django backend
  # -------------------------------
  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    restart: always
    expose:
      - "8000"
    env_file:
      - .env
    depends_on:
      - db

  # -------------------------------
  # Postgres database
  # -------------------------------
  db:
    image: postgres:13-alpine
    volumes:
      - prod-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    restart: always

  # -------------------------------
  # React frontend served via Nginx
  # -------------------------------
  frontend:
    build:
      context: ./frontend       # frontend folder is build context
      dockerfile: Dockerfile.prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - app

volumes:
  prod-db-data:
