version: "3.9"

services:
  db:
    image: postgres:13-alpine
    restart: always
    volumes:
      - prod-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}

  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - "8000"

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile.prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - app
      - db

volumes:
  prod-db-data:
